<div class="container">
     <div *ngIf="!isLoggedIn()">
        <h1>Login</h1>
        <form  [formGroup]="loginForm" (ngSubmit)="login()">

        <div  class="form-group">
        <label for="exampleInputEmail1" >E-Mail</label>
        <input type="email" id="username" formControlName="username"  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">Bitte Email eingeben.</small>

        <div *ngIf="loginForm.get('username').invalid &&
        (loginForm.get('username').dirty ||
        loginForm.get('username').touched) &&
        loginForm.get('username').hasError('required')" class="ui negative
        message">Benutzername ist verpflichtend </div>

        <div *ngIf="loginForm.get('username').invalid &&
        (loginForm.get('username').dirty ||
        loginForm.get('username').touched) &&
        loginForm.get('username').hasError('email')" class="ui negative
        message">
        E-Mail Format überprüfen </div>
        </div>


        <div class="form-group">
        <label for="exampleInputPassword1">Passwort</label>
        <input type="password" formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        <div *ngIf="loginForm.get('password').invalid &&
        (loginForm.get('password').dirty ||
        loginForm.get('password').touched)" class="ui negative message"> Passwort ist verpflichtend </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>

        </form>
      </div>


    <div *ngIf="isLoggedIn()">
    <button type="button" class="btn btn-primary" (click)="logout()">Logout</button>
    </div>

</div>
<!--
<div *ngIf="!isLoggedIn()">
<h1>Login</h1>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
</div>
-->