


<!--NAVIGATION -->

<nav class="navbar navbar-light bg-light">

<a routerLink="home" routerLinkActive="active" class="item navbar-brand">Home</a>
<a routerLink="impfung" routerLinkActive="active" class="item navbar-brand">Impfungen</a>
<a *ngIf="isLoggedIn()" routerLink="admin" routerLinkActive="active" class="item navbar-brand">Administration</a>
<a  routerLink="admin" routerLinkActive="active" class="item navbar-brand">Administration</a>

<!--
<a routerLink="login" routerLinkActive="active" class="item navbar-brand">{{getLoginLabel()}}</a>
-->
</nav>



<!--
<nav class="navbar navbar-light bg-light">
<div class=" item navbar-brand {{isLoggedIn()?'four':'three'}} ">
<a routerLink="home" routerLinkActive="active" class="item navbar-brand">Home</a>
<a routerLink="impfung" routerLinkActive="active" class="item navbar-brand">Impfungen</a>
<a *ngIf="isLoggedIn()" routerLink="admin" routerLinkActive="active" class="item navbar-brand">Administration</a>
<a routerLink="login" routerLinkActive="active"class="item navbar-brand">{{getLoginLabel()}}</a>
</div>
</nav>
-->
<router-outlet></router-outlet>
