
<div class="container">
<div class="row">
  <div class="col-sm-6 text-white ">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title " style="color: black">{{impfung.title}}</h5>
        <p class="card-text" style="color: black">{{impfung.description}}</p>
        <p class="card-text" style="color: black">Ort: {{impfung.ort.location}}</p>

        <a href="#" class="btn btn-primary">Mehr erfahren </a>
      </div>
    </div>
    </div>
  </div>
  </div>