<div class="container">

<h1> das ist das Formular</h1>

<form  [formGroup]="impfungForm" (ngSubmit)="submitForm()">
    <input type="hidden" name="id">

    <div class="field" [class.disabled]="isUpdatingImpfung">
        <label>Titel</label>
        <input formControlName="title" class="form-control">
        <div *ngIf="errors.title" class="ui negative message"> {{ errors.title }} </div>
    </div>

    <div class="field">
        <label>Datum</label>
        <input type="date" formControlName="date" class="form-control">
        <div *ngIf="errors.date" class="ui negative message"> {{ errors.date }} </div>
    </div>

    <div class="field">
        <label>Beschreibung</label>
        <input formControlName="description" class="form-control">
    </div>

    <div class="field">
        <label>Max. Anzahl </label>
        <input type="number" formControlName="MaxMember" class="form-control">
        <div *ngIf="errors.MaxMember" class="ui negative message"> {{ errors.MaxMember }} </div>
    </div>

    <div class="field">
        <label>Termin</label>
        <textarea formControlName="appointment" rows="3" class="form-control"></textarea>
    </div>
            <div class="field">
                    <label class="">Ort</label>
                    <select class="ui dropdown" style="border-radius: 4px;" formControlName="orte">
                        <option *ngFor="let ort of orte" [ngValue]="ort.id">{{ort.PLZ}} ({{ort.address}}, {{ort.location}} {{ort.description}})</option>
                    </select>
             </div>

   <!-- <button type="submit" class="btn btn-primary" [disabled]="impfungForm.invalid">Speichern</button> -->
    <button type="submit" class="btn btn-primary" >Speichern</button>


    </form>
    </div>