
<div class="container">
<h3 class="font-weight-bold, text-uppercase">Vacina Impfanmeldung:</h3>
<a *ngFor="let impfung of impfungen " class="item bs-impfung-list-item" [impfung]="impfung"

[routerLink]="impfung.title">
    </a>

<!--BUCH BEARBEITEN

<a
[routerLink]="['../../admin', impfung?.title]">
<i class="write icon"></i> Impfung bearbeiten</a>
  </div>

-->
<!--

<a *ngFor="let impfung of impfungen " class="item bs-impfung-list-item" [impfung]="impfung"
(click)="showDetails(impfung)"
[routerLink]="impfung.title">>


    </a>
<div class="row">
<a *ngFor="let i of impfungen" class="item">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{i.title}}</h5>
        <p class="card-text">{{i.description}}</p>
        <p class="card-text">Ort: {{i.ort}}</p>
        <a href="#" class="btn btn-primary">Mehr erfahren </a>
      </div>
    </div>
    </div>
 </a>
  </div>
-->